<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    BOOKING DETAILS: <%=code%>
    <p></p>
    <table border="1" cellpadding="0" cellspacing="0"> <tr><td>
        <table border="0" >
            <tr><td>
                FLIGHT LA 803: FROM MVD (Montevideo, USA) TO MIA (Miami, USA)
            </td></tr>
            <tr><td>
                DEPARTURE TIME: 27-JUL-2016 08:00 AM
            </td></tr>
            <tr><td>

            </td></tr>
        </table>
    </td></tr>
    <tr><td></td></tr>
    <tr><td>PASSENGERS:</td></tr>
        <% _.each(eTickets,function(eTicket){ %>
    <tr><td><table width="100%" border="0"><tr><td><%=eTicket.passenger.firstName%></td><td align="right"> <button>CHECK-IN</button></td></tr></table></td></tr>
        <% }); %>
    </table>
    <p></p>
    <button class="btnCheckIn">CHECK IN ALL PASSENGERS</button>
    <button class="btnCancel">CANCEL THE ENTIRE BOOKING</button>

</body>
</html>